---
import { Image } from "astro:assets";

const { product } = Astro.props;
---

<div class="text-white">
  <div class="grid grid-cols-2 items-center my-4">
    <h1 class="text-2xl font-bold md:text-3xl lg:text-4xl">
      {product.name}
    </h1>
    <div class="justify-self-end">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-qr-code"
        ><rect width="5" height="5" x="3" y="3" rx="1"></rect><rect
          width="5"
          height="5"
          x="16"
          y="3"
          rx="1"></rect><rect width="5" height="5" x="3" y="16" rx="1"
        ></rect><path d="M21 16h-3a2 2 0 0 0-2 2v3"></path><path d="M21 21v.01"
        ></path><path d="M12 7v3a2 2 0 0 1-2 2H7"></path><path d="M3 12h.01"
        ></path><path d="M12 3h.01"></path><path d="M12 16v.01"></path><path
          d="M16 12h1"></path><path d="M21 12v.01"></path><path d="M12 21v-1"
        ></path></svg
      >
    </div>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 md:gap-4">
    <div class="flex flex-col gap-4">
      <Image
        src={product.cover}
        alt=`${product.name} Image`
        width={1000}
        height={1000}
        class:list={["rounded-md"]}
      />
      <div class="flex gap-2 overflow-x-auto w-full">
        {
          product.images.map((image, index) => {
            if (index % 2 == 0) {
              return (
                <div class="grid grid-cols-2 min-w-full gap-4">
                  <Image
                    src={product.images[index]}
                    alt="Bamboo Craft"
                    width={1000}
                    height={1000}
                    class:list={["rounded-md"]}
                  />
                  <Image
                    src={product.images[index + 1]}
                    alt="Bamboo Craft"
                    width={1000}
                    height={1000}
                    class:list={["rounded-md"]}
                  />
                </div>
              );
            }
          })
        }
      </div>
    </div>

    <div class="mt-4 md:mt-0">
      <!-- <div class="divider"></div> -->

      <div class="spec">
        <h2 class="font-semibold text-xl mb-4">Spesifikasi</h2>
        <ul class="w-[80%]">
          <li class="mt-2">
            <div class="grid grid-cols-8">
              <span class="col-span-2">Ketersediaan</span>
              <span class="col-span-1">:</span>
              <span class="col-span-5">
                {
                  product.availability == true ? (
                    <span class="badge badge-outline bg-success">Ada</span>
                  ) : (
                    <span class="badge badge-outline bg-red-600">
                      Tidak Ada
                    </span>
                  )
                }
              </span>
            </div>
          </li>
          <li class="mt-2">
            <div class="grid grid-cols-8">
              <span class="col-span-2">Jumlah Stok</span>
              <span class="col-span-1">:</span>
              <span class="col-span-5">{product.stock}</span>
            </div>
          </li>
          <li class="mt-2">
            <div class="grid grid-cols-8">
              <span class="col-span-2">Harga</span>
              <span class="col-span-1">:</span>
              <span class="col-span-5">{product.price}</span>
            </div>
          </li>
          <li class="mt-2">
            <div class="grid grid-cols-8">
              <span class="col-span-2">Ukuran</span>
              <span class="col-span-1">:</span>
              <span class="col-span-5">{product.size}</span>
            </div>
          </li>
          <li class="mt-2">
            <div class="grid grid-cols-8">
              <span class="col-span-2">Berat</span>
              <span class="col-span-1">:</span>
              <span class="col-span-5">{product.weight}</span>
            </div>
          </li>
          <li class="mt-2">
            <div class="grid grid-cols-8">
              <span class="col-span-2">Material</span>
              <span class="col-span-1">:</span>
              <span class="col-span-5">{product.material}</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="divider"></div>
      <h2 class="font-semibold text-xl my-4">Deskripsi</h2>
      <p class="text-justify">
        {product.description}
      </p>

      <div class="divider"></div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-2 w-full justify-center">
        <button class="btn bg-negroni-500 text-black">Beli Sekarang</button>
        <button class="btn btn-outline text-white">Design Custom</button>
      </div>
    </div>
  </div>
  <div class="divider"></div>
</div>
